<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>R-Productive | Nova Lista</title>
    <link rel="stylesheet" href="/assets/style.css" />
  </head>
  <body>
    <%- include("partials/header") %>

    <div class="container">
      <h1 class="title">Crie uma nova lista</h1>
      <form class="create-form" action="/lists/create" method="post">
        <label for="title">Título:</label>
        <input
          type="text"
          id="title"
          name="title"
          placeholder="Título da lista"
          required
        />

        <button type="submit" class="btn">Salvar Lista</button>
      </form>
    </div>
  </body>
</html>
