<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>R-Productive</title>
    <link rel="stylesheet" href="/assets/style.css" />
  </head>
  <body>
    <%- include("partials/header") %>

    <div class="container">
      <div class="home-container">
        <img class="home-img" src="/imgs/Checklist-pana.png" alt="" />

        <div class="home-content">
          <h1 class="title">Bem-vindo ao R-Productive</h1>
          <p>
            Organize suas tarefas de forma eficiente e aumente sua
            produtividade!
          </p>
          <p>
            O R-Productive oferece uma maneira simples e intuitiva de gerenciar
            suas atividades diárias, seja no trabalho, nos estudos ou na vida
            pessoal. Crie listas personalizadas, adicione tarefas com
            facilidade, acompanhe o progresso e nunca mais esqueca uma tarefa
            importante!
          </p>

          <a href="/lists" class="btn">Comece a Gerenciar suas Tarefas</a>
        </div>
      </div>
    </div>
  </body>
</html>
