<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>R-Productive | Listas</title>
    <link rel="stylesheet" href="/assets/style.css" />
  </head>
  <body>
    <%- include("partials/header") %>

    <div class="container">
      <h1 class="title">Listas de Tarefas</h1>

      <div class="separator"></div>

      <a href="/lists/create" class="btn-newlist">Nova Lista de Tarefas</a>
      <div class="lists">
        <% lists.forEach(list => { %>
        <a href="/lists/<%= list.id %>" class="list-btn">
          <%= list.title %>
          <form
            action="/lists/delete/<%= list.id %>"
            id="delete-form"
            method="post"
          >
            <button type="submit" class="btn-delete" id="delete-form">
              Excluir
            </button>
          </form>
        </a>
        <% }) %>
      </div>
    </div>

    <script src="/assets/confirmDeletion.js"></script>
  </body>
</html>
